@use "./variables.scss" as *;
@use "./mixin.scss" as *;

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $tinyGap;
  align-items: center;

  background-color: $backgroundSecondary;
  padding: 1.5rem;
  color: $TitlePrimary;

  @include bigger($mobile) {
    flex-direction: row;
  }

  .menu {
    @include centered;
    font-size: 0.9rem;
    text-transform: uppercase;
    gap: $tinyGap;

    @include bigger($mobile) {
      gap: $largeGap;
      @include text-1;
    }
  }

  .logo {
    @include title-1;
  }
}
