@use "./variables.scss" as *;
@use "./mixin.scss" as *;

.Event {
  @include centered;
  flex-direction: column;
  height: $section1Height;

  gap: $largeGap;

  @include text-1;
  color: $TitlePrimary;

  background-image: url("./assets/VeniceMuseum.webp");
  @include backgroundImage;

  .title {
    @include title-1;
    text-align: center;
    max-width: 80vw;

    @include bigger($mobile) {
      width: 35vw;
    }
  }
  .button {
    @include button($backgroundTertiary, $textPrimary);
  }
}

.Category {
  @include centered;
  flex-direction: column;

  gap: $tinyGap;
  margin: $sectionMargin;

  @include bigger($mobile) {
    flex-direction: row;
    height: $section1Height;
    gap: $largeGap;
  }

  .SeparationLine {
    @include SepartionLine(0%, 0%, $textSecondary);
    @include bigger($mobile) {
      @include SepartionLine(100%, 0%, $textSecondary);
    }
  }
  .CategoryCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    gap: $tinyGap;

    @include bigger($mobile) {
      width: 30vw;
    }

    .name {
      @include centered;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;

      .title {
        @include title-2;
      }
    }
    .SeparationLine {
      @include SepartionLine(0%, 100%, $backgroundSecondary);
    }
    .Artists {
      display: flex;
      flex-direction: column;
      gap: $tinyGap;
      @include title-3;

      .SeparationLine {
        @include SepartionLine(0%, 100%, $textSecondary);
      }
    }
  }
}

.Welcome {
  @include centered;
  flex-direction: column;

  @include bigger($mobile) {
    flex-direction: row;
    height: $section1Height;
  }

  .text {
    @include centered;
    flex-direction: column;
    gap: $largeGap;

    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    background-color: $backgroundTertiary;

    @include bigger($mobile) {
      width: 50%;
      padding: 5rem 10rem;
    }

    div {
      .paragraph {
        @include text-2;
      }
    }
    .title {
      @include title-2;
    }
    .moreAbout {
      display: flex;
    }
  }

  .image {
    background-image: url("./assets/MuseumExpo.webp");
    @include backgroundImage;
    display: flex;
    height: 100%;
    width: 100%;

    @include bigger($mobile) {
      width: 50%;
    }
  }
}

.collection {
  display: flex;
  flex-direction: column;
  gap: $largeGap;

  height: $section2Height;
  margin: $sectionMargin;

  .presentationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: $largeGap;

    .title {
      @include title-2;
    }
    .ViewAll {
      display: flex;
    }
  }
  .SeparationLine {
    @include SepartionLine(0%, 100%, $backgroundSecondary);
  }
  .presentation {
    @include text-2;
  }

  .CollectionList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $largeGap;

    .card {
      display: flex;
      flex-direction: column;
      gap: $tinyGap;
      @include text-2;

      .title {
        @include title-3;
      }
      .painting {
        max-width: 300px;
      }
    }
  }

  .button {
    @include button($backgroundSecondary, $textSecondary);
    align-self: center;
  }
}
