@use "./variables.scss" as *;
@use "./mixin.scss" as *;

.Event {
  @include centered;
  flex-direction: column;
  gap: 2rem;
  height: 50vh;

  color: $TitlePrimary;
  background-image: url("./assets/VeniceMuseum.webp");
  @include backgroundImage;

  .title {
    @include title-1;
  }

  .button {
    @include button($backgroundTertiary, $textPrimary);
  }
}

.Category {
  @include centered;
  flex-direction: row;
  gap: 2rem;
  margin: 3rem;
  height: 80vh;

  .SeparationLine {
    @include SepartionLine(100%, 0%, $textSecondary);
  }

  .CategoryCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 100%;
    gap: 1rem;

    .name {
      @include centered;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;

      .title {
        @include title-2;
      }
    }

    .SeparationLine {
      @include SepartionLine(0%, 100%, $backgroundSecondary);
    }

    .Artists {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .SeparationLine {
        @include SepartionLine(0%, 100%, $textSecondary);
      }
    }
  }
}

.Welcome {
  @include centered;
  flex-direction: row;
  height: 70vh;

  .text {
    @include centered;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    height: 100%;
    padding: 5rem 10rem;
    text-align: center;
    background-color: $backgroundTertiary;

    div {
      .paragraph {
        font-weight: 300;
      }
    }

    .title {
      @include title-3;
    }

    .moreAbout {
      display: flex;
    }
  }

  .image {
    background-image: url("./assets/MuseumExpo.webp");
    @include backgroundImage;
    display: flex;
    height: 100%;
    width: 50%;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 3rem;

  .presentationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      @include title-2;
    }

    .ViewAll {
      display: flex;
    }
  }

  .SeparationLine {
    @include SepartionLine(0%, 100%, $backgroundSecondary);
  }

  .presentation {
    font-weight: 300;
  }

  .CollectionList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;

      .title {
        @include title-3;
      }

      .painting {
        max-width: 300px;
      }
    }
  }

  .button {
    @include button($backgroundSecondary, $textSecondary);
    align-self: center;
    text-align: center;
  }
}
