@use "./variables.scss" as *;

// mixin des titres

@mixin title-1 {
  font-size: 30px;
  font-weight: bold;
}
@mixin title-2 {
  font-size: 24px;
  font-weight: bold;
}
@mixin title-3 {
  font-size: 20px;
  font-weight: bold;
}

// mixin pour centrer l'interieur d'un element

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mixin pour les images de fond

@mixin backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// mixin des elements répétés

@mixin button($background, $text) {
  background-color: $background;
  padding: 15px 30px;
  border-radius: 5rem;

  color: $text;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
@mixin SepartionLine($height, $width, $separationColor) {
  border: 1px solid $separationColor;
  width: $width;
  height: $height;
}
