@use "./variables.scss" as *;

// mixin des titres

@mixin title-1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: $textFont;
}
@mixin title-2 {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: $textFont;
}
@mixin title-3 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: $textFont;
}

// mixin pour les textes

@mixin text-1 {
  font-size: 1rem;
  font-family: $textFont;
}

@mixin text-2 {
  @include text-1;
  font-weight: 300;
}

// mixin pour centrer l'interieur d'un element

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mixin pour les images de fond

@mixin backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// mixin des elements répétés

@mixin button($background, $text) {
  background-color: $background;
  padding: 1rem 2.2rem;
  border-radius: 5rem;

  color: $text;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
@mixin SepartionLine($height, $width, $separationColor) {
  border: 1px solid $separationColor;
  width: $width;
  height: $height;
}

// mixin des media query

@mixin smaller($screen-size) {
  @media (width <= $screen-size) {
    @content;
  }
}

@mixin bigger($screen-size) {
  @media (width > $screen-size) {
    @content;
  }
}
