@use "./variables.scss" as *;

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title-1 {
  font-size: 30px;
  font-weight: bold;
}

* {
  font-family: $textFont;
}
