// variables de couleur

$backgroundPrimary: #f6f6ec;
$backgroundSecondary: #12130d;
$backgroundTertiary: #efede0;

$TitlePrimary: #f1edd4;

$textPrimary: #23231b;
$textSecondary: #e2e2d8;

// variable de police

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$textFont: "Montserrat", sans-serif;
* {
  font-family: $textFont;
}
